Pods/*
ios.xcworkspace/xcuserdata/*
ios.xcodeproj/xcuserdata/*
ios.xcworkspace/xcuserdata/viktor.xcuserdatad/UserInterState.xcuserstate
ios.xcworkspace/project.xcworkspace/xcshareddata/ios.xccheckout

